.card {
  padding: 32px 16px 16px;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  transition:
    transform 300ms ease,
    box-shadow 300ms ease;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  &__imac {
    padding: 0 3px;
    width: 160px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__imac img {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
    transition: color 300ms ease;

    &:hover {
      color: #34568b;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    padding: 4px 0 0;
    margin: 0;
    color: #616070;
    text-align: left;
  }

  &__review-label {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
  }

  &__review {
    padding: 16px 0 0;
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 17px;
  }

  &__button {
    margin: 16px 0 0;
    background-color: #00acdc;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition:
      background-color 300ms ease,
      color 300ms ease;

    &:hover {
      color: #00acdc;
      background-color: #fff;
      border: 1px solid #00acdc;
    }
  }

  &__price {
    margin: 24px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 85px;

    &-text {
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: #616070;
    }

    &-price {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: right;
      color: #060b35;
    }
  }
}
